body {
  margin: 0;
  background-color: #1a1a1a;
  overflow: hidden;
}

#live2d {
  width: 100vw;
  height: 100vh;
  display: block;
}

#audio-status {
  color: red;
}

#btn-mic {
  display: none;
  background-color: #aa392a;
}

#ai-state {
  color: rgb(16, 123, 223);
}
